* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #262626;
    color: rgb(136, 74, 252);
}

.square {
    position: relative;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square span:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: 2px solid rgb(170, 8, 245);
    border-radius: 38% 65% 75% 34% / 41% 44% 56% 70%;
    transition: 0.5s;
    animation: animate 6s linear infinite;
}

.square:hover span:nth-child(1) {
    border: none;
    background: #7104ff75;
}

.square span:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: 2px solid rgb(109, 72, 247);
    border-radius: 38% 65% 75% 34% / 41% 44% 56% 70%;
    transition: 1s;
    animation: animate 4s linear infinite;
}

.square:hover span:nth-child(2) {
    border: none;
    background: #b004ff8f;
}

.square span:nth-child(3) {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: 2px solid rgb(81, 7, 255);
    border-radius: 38% 65% 75% 34% / 41% 44% 56% 70%;
    transition: 1s;
    animation: animate 8s linear infinite;
}

.square:hover span:nth-child(3) {
    border: none;
    background: #b004ff75;
}

@keyframes animate {
    to {
        transform: rotate(360deg);
    }
}
.content{
    position: relative;
    padding: 40px 60px;
    text-align: center;
    transition: 1s;
    z-index: 999999;
}
.content a{
    position: relative;
    display: inline-block;
    margin-top: 10px;
    border: 2px solid rgb(162, 2, 255);
    border-radius: 35% 55% 75% 65% / 65% 75% 45% 55%;
    color:rgb(106, 6, 236);
    padding: 10px 25px;
    text-decoration: none;
}